extends layout

block content
  div(class="container")
      ul(class="userlist")
      each listing, i in listings
        li(class="nostyle")
          h3 #{listing.name}
          if(listing.location.city && listing.location.state)
            p #{listing.location.city}, #{listing.location.state}
          if(listing.noGuests)
            p Up to #{listing.noGuests} guests allowed
          if(listing.price)
            p $#{listing.price}/night
       a(href='/') Home

  div(class="container")
     .detailBox
          .titleBox
            label Comments
            button.close(type='button', aria-hidden='true') ×
          .commentBox
            p.taskDescription Please only comment if you have actually stayed at this listing.
          .actionBox
            ul.commentList
            each listing, i in listings
              if(listing.comments)
                each comment, i in listing.comments
                  li
                    .commentText
                      p #{comment.words}
                        br
                        span.date.sub-text #{comment.author}
              form.form-inline(method='post', action='addcomment')
                .form-group
                  input.form-control(type='textarea', name='words', placeholder='Comment' style='width: 300px; height: 150px;')
                  input.form-control(type='text', name='author', placeholder='Author')
                  input.form-control(type='hidden', name='id' value='#{listing._id}')
                  button.btn.btn-default(type="submit") Add
