extends layout

block content
  div(class="container")
      ul(class="userlist")
      each listing, i in listings
        li(class="nostyle")
          h3 #{listing.name}
          if(listing.location.city && listing.location.state)
            p #{listing.location.city}, #{listing.location.state}
          if(listing.noGuests)
            p Up to #{listing.noGuests} guests allowed
          if(listing.price)
            p $#{listing.price}/night
         if(listing.comments)
            each comment, i in listing.comments
              p #{comment.words}
         form(method='post', action='addcomment' class='regform')
                  p Add a comment
                        label Be honest:
                        input(type='textarea', name='words')
                        input(type='hidden', name='id' value='#{listing._id}')
                        input(type='submit', value='Submit')
       a(href='/') Home
